{% schema %}
{
  "name": "Banner Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "mobile_banner_image",
      "label": "Mobile Banner Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_banner_image",
      "label": "Desktop Banner Image"
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% style %}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .bannerContainer {
    width: 100%;
  }

  .bannerImage {
    width: 100%;
    display: block;
  }
{% endstyle %}

<div class="bannerContainer">
  <picture>
    <source media="(min-width: 426px)" srcset="{{ section.settings.desktop_banner_image | img_url: 'master' }}">
    <img src="{{ section.settings.mobile_banner_image | img_url: 'master' }}" alt="Banner Image" class="bannerImage">
  </picture>
</div>
