{% layout 'none' %}
<script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
               *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .container {
    width: 100%;
    height: 100vh;
  }

  .borosilDiv {
    width: 98%;
    height: 40%;
    color: white;
    font-size: 33px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .logo {
    height: 100%;
  }

  .sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 1.7s;
  }

  span {
    color: rgb(217, 226, 85);
  }

  .insideDiv {
    width: fit-content;
    padding-left: 25px;
    display: flex;
    align-items: center;
  }

  .navBar {
    width: 100%;
    height: 9%;
    background-color: rgb(1, 53, 100);
    display: flex;
  }

  .upperMostDiv {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 53, 100);
  }

  .equalDiv {
    width: 100%;
    height: 20%;
    transition: height 1.3s;
  }

  .flexDiv {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  .div1 {
    background-color: rgb(129, 27, 49);
    display: flex;
    flex-direction: column;
  }

  .left1 {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
  }

  .right1 {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right1 img {
    object-fit: contain;
  }

  .insideText {
    height: fit-content;
    width: fit-content;
    text-align: right;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }

  .insideLeft {
    width: fit-content;
    height: 40%;
    display: flex;
    padding-left: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .insideArrow {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div2 {
    background-color: rgb(146, 147, 211);
    display: flex;
    flex-direction: column;
  }

  .div3 {
    background-color: rgb(182, 215, 0);
    display: flex;
    flex-direction: column;
  }

  .div4 {
    background-color: rgb(204, 103, 169);
    display: flex;
    flex-direction: column;
  }

  .div5 {
    background-color: rgb(225, 57, 37);
    display: flex;
    flex-direction: column;
  }

  .div6 {
    background-color: rgb(6, 181, 196);
    display: flex;
    flex-direction: column;
  }

  .div7 {
    background-color: rgb(249, 0, 120);
    display: flex;
    flex-direction: column;
  }

  .div8 {
    background-color: rgb(255, 215, 0);
    display: flex;
    flex-direction: column;
  }

  .div9 {
    background-color: rgb(245, 125, 35);
    display: flex;
    flex-direction: column;
  }

  .div10 {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
  }

  .logoDiv {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logoInsideDiv {
    height: 50%;
    width: fit-content;
    padding-left: 25px;
    display: flex;
    align-items: center;
  }

  .logologo {
    height: 90%;
    width: 90%;
  }

  .insideDiv {
    visibility: hidden;
  }

  .nav-item .box {
    display: none;
    padding: 10px;
    background-color: #F9F9F9;
    color: rgb(1,53,100);
    width: 100%;
    max-height: 2000px;
    transition: max-height 1s ease-out;
  }

  @media (max-width: 1024px) {
    .insideDiv {
      visibility: visible;
    }

    .closebtn {
      font-size: 20px;
      cursor: pointer;
      position: fixed;
      top: 0;
      right: 25px;
      padding: 8px;
      background-color: #013564;
      color: rgb(217, 226, 85);
      display: none;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-top: 10px;
      text-align: center;
    }

    .insideText {
      font-size: 20px;
    }
  }

  .hiddenDiv1{
      width: 100%;
      max-height: 2000px;
      padding: 10px;
  }

  .kitchenAppliancesHeading{
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 15px;
  }

  .kitchenAppliancesSubHeading{
      margin-top: 13px;
      display: flex;
      justify-content: space-between;
      font-size: 11px;
  }

  a{
      text-decoration:underline;
      color: #013564;
  }
</style>
<body>
  {% section 'BorosilMobileMenu' %}
</body>
<script>
    function openNav() {
    document.getElementById("mySidenav").style.width = "100vw";
    document.querySelector(".closebtn").style.display = "block";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.querySelector(".closebtn").style.display = "none";
  }

  function toggleBox(boxId) {
    const box = document.getElementById(boxId);
    const allBoxes = document.querySelectorAll(".box");

    allBoxes.forEach((b) => {
      if (b.id !== boxId) {
        b.style.display = "none";
      }
    });

    if (box.style.display === "block") {
      box.style.display = "none";
    } else {
      box.style.display = "block";
    }

    const parentDiv = box.closest(".nav-item");
    if (box.style.display === "block") {
      parentDiv.style.height = `calc(20% + ${box.scrollHeight}px)`;
    } else {
      parentDiv.style.height = "20%";
    }
  }
</script>
